*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.page {                   
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  display: grid;
  grid-template-areas: "res cd";
  grid-auto-flow: column;
  align-items: end;
  gap: 30px;
}

.result {
  grid-area: res;
  margin-bottom: 10px;
  max-width: 711px;
}

.content__details {
  display: flex;
  flex-direction: column;
  min-width: 400px;
  height: 100%;
  gap: 26px;
  grid-area: cd;
  padding-bottom: 10px;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

.content__list-container {
  position: relative;
  height: 298px;
  overflow: auto;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: start;
}

.content__video-card-thumbnail {
  width: 194px;
  min-height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 2;
}

.content__video-card-description {
  width: 196px;
  line-height: 16.2px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: 400;
}

.content__card-link {
  text-decoration: none;
  color: white;
}

.content__video-card-title {
  font-family: Oswald, 'Fira Sans Condensed', sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 195px;
}

.title {
  font-family: Oswald, 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 75px;
  text-transform: uppercase;
  line-height: 70.5px;
}

.content__accent {
  color: rgba(84, 80, 80, 1);
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  padding-bottom: 5px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__fieldset {
  border: none;
}

.search-form__textfield {
  width: 225px;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  line-height: 21.6px;
  border-block: 1px solid white;
  border-inline: none;
  background-color: transparent;
  color: white;
  appearance: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label {
  display: flex;
  width: fit-content;
  cursor: pointer;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid white;
  outline-offset: 1px;
}

.search-form__pseudo-checkbox {
  border: 1px solid white;
  width: 19px;
  height: 19px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: '';
  width: 15px;
  height: 15px;
  background-color: white;
}

.button {
  font-family: 'Fira Sans Condensed', sans-serif;
  background-color: transparent;
  color: white;
  font-size: 18px;
  font-weight: 700;
  border: 1px solid white;
  cursor: pointer;
  min-height: 34px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: rgba(84, 80, 80, 1);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid white;
  outline-offset: 2px;
}

.search-form__submit-button {
  width: 194px;
  align-self: flex-end;
}

.more-button {
  margin-top: 30px;
  width: 100%;
}

.content__card-link {
  display: block;
  cursor: pointer;
}

.content__card-link_current {
  background-color: rgba(84, 80, 80, 1);
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid white;
}

.content__card-link:active {
  background-color: rgba(84, 80, 80, 1);
}

.content__list-item {
  padding: 0px 3px;
}